<!DOCTYPE html>
<html>
  <head>
    <title>
      
    </title>
  </head>
  <body>
    <h2>Welcome to Tic Tac Toe!</h2>
    <form action="/" method="POST">
      <table>
        <tr>
          <td><input type="text" name="0"/></td>
          <td><input type="text" name="1"/></td>
          <td><input type="text" name="2"/></td>
        </tr>
        <tr>
          <td><input type="text" name="3"/></td>
          <td><input type="text" name="4"/></td>
          <td><input type="text" name="5"/></td>
        </tr>
        <tr>
          <td><input type="text" name="6"/></td>
          <td><input type="text" name="7"/></td>
          <td><input type="text" name="8"/></td>
        </tr>
      </table>
      <input type="submit" value="Submit Move" id="submit"/>
    </form>
  </body>
</html>